body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: white;
}

.container{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px 50px;
    background-color: #a4739d;
    border-radius: 10px 10px;
    color: #3bc600;
}

.city__photo{
    display: flex;
    margin: auto;
    width: 600px;
}